body {
  background-color: #323639;
}
nav{
  background-color: #282C2F;
  margin-top:40px;
  padding: 25px;
}
#header{
  /* padding-left: 13px; */
}
.container {
  /* width: 80%; */
  margin: 0px 0px 0px 0px;
  padding: 25px;
  background-color: white;
  max-width: 100%;
  /* background-color: #D6D6D7; */
}
#current {
  padding: 15px;
  /* background-color: */
  /* background-color: white; */
}


.h2{
  color: #E8EAED;
  /* padding-left: 13px; */
}
.form-control{
  width: 85%!important;
}
.wrapperNav{
  /* width: 80%; */
  margin: 0 auto 0 auto;
}
.parameters{
  background-color: white;
  font-weight: bold;
}
/* .form-control:focus {
  border-color: #28A745; */
  /* box-shadow: 0 0 0 0.2rem #286A3A; */
  /* box-shadow: 0 0 0 0.2rem #28A745;
} */
.error{
  background-color: red;
}