/* body {
  background-color: #b3e5fc;
} */
#container {
  border: 1px solid black;
  width: 80%;
  margin: 0 auto 0 auto;
  padding: 20px;
}
#current {
  border: 1px solid red;
}
#request {
  border: 1px solid green;
}
